/* neki komentar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  line-height: 26px;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pic-up-left {
  transform: translateY(-2rem);
}

.pic-down-right {
  transform: translateY(2rem);
}

.pictures-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 2.5rem;
  width: 100%;
}

.header-pattern-01 {
  transform: translateX(-2rem);
}

.header-pattern-02 {
  transform: translateX(2rem);
}

.header-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  width: 39%;
}

.mini-picture {
  border-radius: 50%;
  height: 90%;
}

.site-logo {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.header-body h1 {
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 2rem;
}

.header-text {
  font-size: 18px;
  line-height: 26px;
  opacity: 70%;
  width: 90%;
  margin: 0 auto;
}

.btn-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.btn {
  padding: 1em 2em;
  border-radius: 40px;
  width: auto;
  color: white;
  font-weight: bold;
}
.btn-download {
  background-color: #4d96a9;
  transition: transform 250ms;
  text-decoration: none;
}
.btn-whatis {
  background-color: #855fb1;
  text-decoration: none;
}
.btn-whatis:hover {
  background-color: #d9b8ff;
  transform: scale(1.05);
}
.btn-download:hover {
  background-color: #8fe3f9;
  transform: scale(1.05);
}

.text-version {
  opacity: 50%;
}

.transition {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 4rem;
  align-self: center;
  left: 50%;
}
.line-transition {
  align-self: center;
  width: 1px;
  background-color: #dddde3ff;
  height: 80px;
}
.number-transition {
  border-radius: 50%;
  height: 50px;
  border: 1px solid #dddde3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: auto;
  font-weight: bold;
  color: #848884;
}

.pictures-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  margin-bottom: 4rem;
}
.main-img {
  height: 300px;
  border-radius: 10px;
  margin: 0 1rem;
}

.body-main {
  margin: 0 auto;
  max-width: 560px;
  width: 90%;
  margin-bottom: 10em;
  text-align: center;
}
.sub-main {
  color: #4d96a9;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 2em;
}
a {
  text-decoration: none;
}
h1,
h2 {
  color: #28283d;
}

h2,
h3 {
  font-size: 2rem;
  line-height: 2rem;
}
h2 {
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 320px;
}
h3 {
  display: initial;
  margin-bottom: 1em;
}
h3,
.text-footer {
  color: FAFAFA;
}
.transition-02 {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  color: black;
  top: -6.5em;
  transform: translateX(-50%);
}
.number-transition-02 {
  background-color: white;
  margin: 0 auto;
}

footer {
  background-color: #4d96a9;
  text-align: center;
  color: #fafafa;
  display: flex;
  text-align: left;

  padding: 4em;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
footer:before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(assets/desktop/image-footer.jpg);
  opacity: 0.1;
  background-size: cover;
  background-position-x: center;
}
.text-footer {
  max-width: 350px;
  margin: 0;

  width: 80%;
}
.footer-container {
  position: relative;
  width: 100%;
  display: flex;

  justify-content: space-around;
  align-items: center;
}
.footer-content {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.btn-whatis-footer {
  width: fit-content;
  margin-bottom: 0;
  margin: 0;
}
.transition {
  top: -10.5rem;
}

@media only screen and (max-width: 1440px) {
  .main-img {
    height: 250px;
  }
}

@media only screen and (max-width: 1340px) {
  .mini-picture {
    height: 80%;
  }

  .pictures-grid {
    grid-row-gap: 0;
    grid-column-gap: 1rem;
  }
}

@media only screen and (min-width: 1140px) and (max-width: 1230px) {
  .btn-container {
    flex-wrap: nowrap;
  }
  .btn {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-version {
    margin-left: 0.3rem;
    opacity: 50%;
  }
}

@media only screen and (max-width: 1150px) {
  .mini-picture {
    height: 70%;
  }

  .btn-container {
    flex-wrap: nowrap;
  }
  .btn {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-version {
    margin-left: 0.3rem;
    opacity: 50%;
  }
  .main-img {
    height: 200px;
  }
  .text-footer {
    width: 50%;
    margin: 0 2rem;
  }
  .footer-container {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 950px) {
  .header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    margin-top: 3rem;
  }
  .header-pattern-01 {
    grid-row: 1/1;
    grid-column: 1/1;

    justify-self: end;

    transform: translateX(-1rem);
  }
  .pictures-grid {
    grid-column-gap: 0;
    grid-template-columns: 140px 140px 140px;
  }
  .header-pattern-02 {
    grid-row: 1/1;
    grid-column: 2/2;
    justify-self: start;

    transform: translate(-1rem, -4rem);
  }
  .pic-up-left {
    transform: translateY(-4rem);
  }
  .pic-down-right {
    transform: translateY(4rem);
  }
  .header-body {
    grid-row: 2/2;
    grid-column: 1/3;
    margin: auto;
  }
  .transition-01 {
    margin-top: 10rem;
    transform: translateX(2rem);
  }
  .main-img {
    height: 150px;
  }
  .mini-picture {
    height: 80%;
  }

  .footer-container {
    flex-direction: column;
  }
  .transition-02 {
    transform: translateY(-4rem);
  }
  .text-footer {
    margin: 1rem 0;
    text-align: center;
  }
  .btn-whatis-footer {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .mini-picture {
    height: 80%;
  }
  .pictures-grid {
    grid-column-gap: 0;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 80px 80px;
    grid-column-gap: 2rem;
  }

  footer:before {
    background-image: url(assets/mobile/image-footer.jpg);
  }

  .header-pattern-02 {
    grid-row: 1/1;
    grid-column: 2/2;
    justify-self: start;
    transform: translate(0.5rem, -2.5rem);
  }

  .header-pattern-01 {
    grid-row: 1/1;
    grid-column: 1/1;

    justify-self: end;
    transform: translateX(-1.5rem);
  }

  .pic-up-left {
    transform: translateY(-2.5rem);
  }
  .pic-down-right {
    transform: translateY(2.5rem);
  }
  .transition-01 {
    margin-top: 25rem;
    transform: translateX(0);
  }

  .pictures-main {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 130px 130px;
    gap: 2rem;

    margin-bottom: 4rem;
    transform: translateX(-1rem);
  }
  .main-img {
    height: 150px;
    border-radius: 10px;
    margin: 0 1rem;
  }
  .transition-02 {
    transform: translateY(-3.5rem);
  }
  .text-footer {
    width: 100%;
  }
  .footer-container h3 {
    text-align: center;
    margin-bottom: 0;
  }

  .btn-container {
    flex-direction: column;
    transform: translateX(-1.5rem);
  }

  .btn {
    padding: 1rem 5rem;
  }
  .header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    margin-top: 3rem;
  }

  .btn-whatis-footer {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .mini-picture {
    height: 80%;
  }
  .pictures-grid {
    grid-column-gap: 0;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 80px 80px;
    grid-column-gap: 2rem;
  }

  .header-pattern-02 {
    transform: translate(0.3rem, -2.5rem);
  }

  .header-pattern-01 {
    transform: translateX(-1.8rem);
  }

  .transition-01 {
    margin-top: 25rem;
    transform: translateX(0);
  }

  .transition-02 {
    transform: translate(-1rem, -5.5rem);
  }

  .footer-container {
    transform: translateX(-1rem);
  }

  .header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    margin-top: 3rem;
  }

  .header-content h1 {
    font-size: 54px;
  }
}

@media only screen and (max-width: 360px) {
  .pictures-grid {
    grid-column-gap: 0;
    grid-template-columns: 25px 25px 25px;
    grid-template-rows: 80px 80px;
    grid-column-gap: 2rem;
  }
  .header-pattern-01 {
    transform: translateX(-2.5rem);
  }

  .transition-01 {
    margin-top: 30rem;
  }

  .btn-container {
    transform: translateX(-2rem);
  }
  .main-img {
    height: 120px;
  }
  .pictures-main {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 120px 120px;
    gap: 2rem;

    margin-bottom: 4rem;
    transform: translateX(-1rem);
  }
  .transition-02 {
    transform: translate(-1rem, -6rem);
  }
  .footer-container {
    transform: translateX(-2rem);
  }
}
